<!--Displays users that liked the review-->
<div class="container mb-4" style="min-height: 526px">
    <div class="p-4">
        <a class="btn btn-primary" id="back" th:href="@{'/'+${hotelId}+'/details/'}">Back</a>
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <br>
                <h2>Users: Liked List</h2>
                <!--list users-->
                <ul th:each="user : ${users}">
                    <li>
                        <div>
                            <!--user username-->
                            <h5>Username: </h5>
                            <p th:text="${user.getUsername()}"></p>
                            <!--user email-->
                            <h5>Email: </h5>
                            <p th:text="${user.getEmail()}"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>